body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  /*padding: 1em;*/
}

a:link, a:visited {
  color: #003399;
  text-decoration: none;
}

section {
  padding: 1em 0;
}

table {
  border-collapse: collapse;
}

thead {
  text-align: left;
}

th {
  padding: 0 0.5em;
  border-bottom: solid 1px #C0C0C0;
}

th:last-child {
  border-right: none;
}

tr {
  line-height: 1.75;
}

td {
  border-right: solid 1px #E8E8E8;
  text-align: right;
  padding: 0 0.5em;
}

.below-freezing {
  color: steelblue;
  font-weight: bold;
}