body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 1em;
  margin: 0;
}

a:link, a:visited {
  color: #4169E1;
  text-decoration: none;
}

p {
  margin:0;
}

p#chart-title {
  font-size: 18px;
  font-weight: bold;
}

p#caption {
  font-size: 13px;
  font-style: italic;
}

.label {
  fill: gray;
  text-anchor: middle;
}

.axis {
  font-size: 13px;
}
